{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
    <a href="/room/new" class="btn btn-dark">Create room</a>
  {% if rooms %}
    <table id="rooms" class="table table-striped">
      <thead>
        <tr>
          <th>Rooms</th>
          
          <th>Join</th>
        </tr>
      </thead>
      <tbody>
           
          
        {% for room in rooms %}
            
          <tr>
            <td>{{ room.RoomName }}</td>
            
            <td><a href="/room/{{room.id}}" class="btn btn-success">Join</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No rooms to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  
{% endblock %}