<form method="POST" action="game/selectUser" name="list">
    <input style="display:none;" name="cardID" value="12">
    {% if Q!= null %}
    {% if Q.id == myID %}
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Dama - użyj
        </button>
        <div class="dropdown-menu">
            {% for player in players %}
                {% if player.id!=myID %}
                    <button name="player" type="submit" class="dropdown-item"
                            value={{ player.id }}>{{ player.name }}</button>

                {% endif %}
            {% endfor %}

        </div>
        {% else %}
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Damę ma:
            </button>
            <div class="dropdown-menu">
                <button type="button"
                        class="dropdown-item">{{ Q.name }}</button>
            </div>{% endif %}

            {% endif %}



        </div>
    </div>
</form>
