<form method="POST" action="game/selectUser" name="list">
    <input style="display:none;" name="cardID" value="{{ cardID }}">
    <div class="btn-group">
        <button id="list" style="display:none;" type="button"
                class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Wybierz
        </button>
        <div class="dropdown-menu">
            {% for player in players %}

                <button name="player" type="submit"
                        class="dropdown-item"
                        value={{ player.id }}>{{ player.name }}</button>


            {% endfor %}
        </div>
    </div>
</form>