{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
<h1>My name is {{room}}</h1>

  { {% if articles %}
    <table id="rooms" class="table table-striped">
      <thead>
        <tr>
          <th>Rooms</th>
          <th>Players</th>
        </tr>
      </thead>
      <tbody>
        {% for room in Rooms %}
          <tr>
            <td>{{ room  }}</td>
            <td>
             { {{room.how_many_players}}{{room.max_players}}}
            { </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No rooms to display</p>
  {% endif %} } 
{% endblock %}

{% block javascripts %}

{% endblock %}