{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
 {#{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}#}
{% endblock %}