

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>AlkoKarty</title>
  <!-- Favicon -->
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/assets/css/argon.css?v=1.0.1" rel="stylesheet">

</head>

 
<body>
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
      <div class="container">
        
          <img class="navbar-brand mr-lg-5" src="/logo/logo4.png"  height = "60">
          <strong><a href="/zasady" style="color:#ffffff;" class="nav-link" role="button">Zasady gry</a></strong>
                
                
              
        <a class="nav-link nav-link-icon" style="color:blue;" href="https://www.facebook.com/Alkokartypl-689818914730344/" target="_blank" data-toggle="tooltip" title="Napisz do twórcy">
                <i class="fa fa-facebook-square"></i>
                
              </a>
          
       
      </div>
    </nav>
  </header>
  <main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">

              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Podaj swoje dane</small>
                </div>
                <form role="form" action = "/" method="POST">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" placeholder="Nick" type="text" name = "nick">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-radio mb-3">

                      <div class="custom-control custom-radio mb-3">
                          <input class="custom-control-input" id="K" type="radio" name="sex" value="K">
                          <label class="custom-control-label" for="K">Kobieta</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                          <input  class="custom-control-input" id="M" checked="" type="radio" name="sex" value="M">
                          <label class="custom-control-label" for="M">Mężczyzna</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                          <input name="custom-radio-1" class="custom-control-input" id="customRadio3" disabled="" type="radio">
                          <label class="custom-control-label" for="customRadio3">Gender</label>
                        </div>
                    </div>
                  </div>
                    
<!--
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password">
                    </div>
                  </div>
                  <div class="text-muted font-italic">
                    <small>password strength:
                      <span class="text-success font-weight-700">strong</span>
                    </small>
                  </div>
-->
<!--
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span>I agree with the
                            <a href="#">Privacy Policy</a>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
-->
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Kielonka?</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>

  
  
  </main>
    <!-- Core -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/popper/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="/assets/vendor/onscreen/onscreen.min.js"></script>

  <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.js?v=1.0.1"></script>

</body>


</html>
